/* Stile für die trekkingkarte */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    background-color: #000;
    font-family: "Adelle", "Open Sans", sans-serif;
}

a {
    color: white;

}

.container {
    width: 600px;
}

.content {
    width: 100%
}

main {
    max-width: 1200px;
    margin: auto;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    max-height: 50px;
}

header h2 {
    margin: 0;
}

header nav {
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 1em;
}

article {
    margin-top: 0.5em;
    border-top: 1px solid black;
}

article h1,
article h3 {
    font-family: "Adelle", "Roboto", sans-serif;
    font-style: italic;
}

article p {
    text-align: justify;
}

article #map {
    width: 100%;
    height: 600px;
    border: 1px solid gray;
}

footer {
    font-family: "Adelle", "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
    border-top: 1px solid black;
    padding: 1em 0em 3em 0em;
}

footer nav {
    display: inline-block;
}

#profile {
    border: 0px solid gray;
    margin-top: 5.5em;
}

.trekking {
    --ele-area: white;
    --ele-bg: white;
}

.custom-theme.elevation-control .area path.altitude,
.custom-theme .legend-altitude rect.area {
    fill: rgba(255, 255, 255, 0.85);
    /* fallback color */
    fill: url(#herringbone-pattern);
    /* svg pattern (optional) */
    fill-opacity: 0.1;
    stroke: #F00;
    stroke-width: 1.5;
}

.custom-theme.elevation-control .area path.slope,
.custom-theme .legend-slope rect {
    fill: url(#blob-pattern);
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 1.5;
}

.custom-theme.height-focus.circle-lower {
    fill: #FF0;
}

.custom-theme.elevation-polyline {
    stroke: #F00;
    stroke-opacity: 1;
    stroke-width: 2;
}

.custom-theme.elevation-polyline-segments {
    stroke: #FF0;
    stroke-width: 2;
    stroke-dasharray: 4;
}

/*Legend specific*/
.legend {
    padding: 6px 8px;
    font: 14px "Adelle", Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /*border-radius: 5px;*/
    line-height: 24px;
    color: rgb(110, 8, 8);
}

.legend h4 {
    text-align: center;
    font: "Adelle";
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;

}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
    font: "Adelle";
}

.legend i.icon {
    background-size: 18px;
    background-color: rgb(255, 255, 255);

}